//------------nav section scss----------------------
.logo-wrapper{
  padding: 3rem 0 0 ;
  display: flex;flex-direction:column;justify-content: center;align-items: center;
}
.logo-img{text-align: center;}
//------------nav section scss end----------------------
//------------hero section scss----------------------
.hero-wrapper {
  padding: 4rem 0;
  display: flex;flex-direction: column;gap: 3rem;
}
.people{width: 100%;object-fit: cover;}
.desktop-left-people,
.desktop-right-people{
  display: none;
}
.text-container{
  width: 100%; max-width: 19.06rem;
  margin: 0 auto;
  display: flex;flex-direction: column;gap: 1.5rem;text-align: center;
  h2{
    color: var(--color-slate-900);
    font-size:2.5rem;
    font-weight: 900;
    line-height: 2.75rem;
  }
  p{
    color: var(--color-slate-600, #87879D);
    line-height: 1.5rem;
  }
}
.cta-container{
  padding:24px 0 0;
  display: flex;flex-direction: column;gap:1.0625rem;
  justify-content: center;align-items: center;
  text-align: center;
  a{
    display: inline-flex;gap: 0.25rem;
    font-weight: 900;
  }
  .blue-version-text{
    color: var(--color-cyan-300);
  }
  .blue-bg,.purple-bg{
    display: inline-flex;
    border-radius: 29px;
    padding: 1rem 2.5rem;
    color: var(--color-white--100);
  }
  .blue-bg{
    background: var(--color-cyan-600);
    &:hover{
      background-color: var(--color-cyan-hover-300);
    }
  }
  .purple-bg{
    background-color: var(--color-purple-600);
    &:hover{
      background-color: var(--color-purple-hover-600);
    }
  }
}
//------------hero section scss end----------------------
//------------main-content section scss----------------------
.content{
  padding:3.5rem 2rem 4rem;
  overflow: visible;
}
.main-content-wrapper{
  display: flex;flex-direction: column;gap:4rem;
}
.circle{
  display:flex;flex-direction:column;text-align: center;justify-content: center;align-items: center;
  position: relative;
  .vertical-line {
    width: 1px;
    height: 100px;
    background-color: var(--color-slate-300);
    transform: translateX(-50%);
  }
  h4{
    display:inline-flex;
    padding: 1rem;
    color: var(--color-slate-600);
    background: var(--color-white, #FAFAFA);
    border-radius: 999px;
    border: 1px solid var(--color-slate-300);
  }
}
.card-images{
  display: grid;
  grid-template-columns: repeat(2,1fr);gap: 1rem;
  img{
    border-radius: 8px;
  }
}
.main-text-container{
  text-align: center;
  .blue-text{
    color: var(--color-cyan-600);
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: 900;
    line-height: 0.825rem;
  }
  h2{
    padding: 1rem 0 2rem;
    color: var(--color-slate-900);
    font-size: 2rem;
    font-weight: 900;
    line-height: 2.2rem;
  }
}
//------------main-content section scss end----------------------
//------------footer-hero section scss----------------------
.footer-hero{
  margin-top: 8rem;
  padding: 4rem 2rem;
  display: flex;flex-direction: column;
  gap: 1.5rem;
  text-align: center;
  position: relative;
  background-color:  rgb(82, 140, 154, 0.9);
  .last-circle{
    position: absolute;left: 50%;bottom: 93%;width: 100%;
    transform: translateX(-50%);
  }
  img{
    top: 0;
    z-index: -2;
    position: absolute;left: 0;
    width: 100%;height:100%;object-fit: cover;
  }
  .tablet-footer-img{
    display: none;
  }
  .desktop-footer-img{
    display: none;
  }
  .text-last-container{
    display: flex;flex-direction: column;
    gap: 1.5rem;
  }
  h2{
    color: var(--color-white--100);
    font-size: 2rem;
    font-weight: 900;
    line-height: 2.2rem;
  }
  p{
    color: var(--color-white--100);
  }
}
.footer-cta{
  position: relative;
  padding:0;
  a{
    color: var(--color-white--100);
    font-weight: 900;
    background-color:rgba(128, 0, 128, 0.5);
    display: inline-flex;
    border-radius: 29px;
    padding: 1rem 2.5rem;
    gap: 0.25rem;
    &:hover{
      background-color: var(--color-purple-hover-600);
    }
  }
  .version{
  color: var(--color-purple-300);
  }
}
//------------footer-hero section scss end----------------------
@media screen and (min-width: 768px) {
  //------------hero section media q----------------------
  .hero-wrapper{
    gap: 4.5rem;
  }
  .text-container{
  max-width: 28.01rem;
    h2{
      font-size: 3rem;
      line-height: 3.3rem;
    }
  }
  .cta-container{flex-direction: row;}
  //------------hero section media q end----------------------
  //------------main-content section media q----------------------
  .card-images{
    grid-template-columns: repeat(4, 1fr);gap: 1.5rem;
  }
  .main-text-container{
    max-width: 27.81rem;
    margin: 0 auto;
    h2{
      font-size: 2.25rem;
      line-height: 2.2rem;
    }
  }
  //------------main-content section media q end----------------------
  //------------footer-hero section media q----------------------
  .footer-hero{
    .mobile-footer-img{
      display: none;
    }
    .tablet-footer-img{
      display: block;
    }
    .text-last-container{
      max-width: 31.5rem;
      margin: 0 auto;
      h2{
        font-size: 2.25rem;
        line-height: 2.475rem;
      }
    }
  }
  //------------footer-hero section media q end----------------------
}
@media screen and (min-width: 1440px) {
  //------------hero section media q ----------------------
  .hero-wrapper{
   flex-direction: row;justify-content: center;align-items: center;
    gap: 2rem;
  }
  .people{
      display: none;
    }
  .text-container{
    max-width: 28.01rem;
    margin: unset;
    h2{
      font-size: 4rem;
      line-height: 4.4rem;
    }
    p{
      font-size: 1.125rem;
    }
  }
  .desktop-right-people, .desktop-left-people{
    display: block;
    max-width: 100%;object-fit: cover;
  }
  .desktop-left-people{
    left: 0;
    padding: 0 3.5625rem 0 0;
  }
  .desktop-right-people{
    right: 0;
    padding: 0 0 0 3.5625rem;
  }
  //------------hero section media q end----------------------
  //------------main-content section media q----------------------
  .content{padding: 3.5rem 5rem;}
  .main-content-wrapper{
    max-width: 70rem;
    margin: 0 auto;
  }
  .main-text-container{
    max-width: 34rem;
    margin: 0 auto;
    .blue-text{
      font-size: 1rem;
    }
    h2{
      font-size: 2.5rem;
      line-height: 2.75rem;
    }
  }
  .card-images{gap: 2rem;}
  //------------main-content section media q end----------------------
  //------------footer-hero section media q----------------------
  .footer-hero{
    padding: 7rem 5rem;
    .text-last-container{
      flex-direction: row;
      align-items: center;gap: 2rem;
      max-width: 70rem;
      margin: 0 auto;
      display: flex;
      text-align: left;
    }
    h2{
      font-size: 2.5rem;
      line-height: 2.75rem;
    }
    .tablet-footer-img{
      display: none;
    }
    .desktop-footer-img{
      display: block;
    }
  }
  //------------footer-hero section media q end----------------------
}